
ul,li{
	display: inline-block;
}
.banner{
	width: 100%;
	height: 400px;
	background: url("../images/course.png") no-repeat;
	background-size: 100%;

}
.content{
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
}

.content ul a:link,.content ul a:visited{
	display:block;
	font-size:16px;
	font-family:"微软雅黑";
	color:#474747;
	background-color:#ededed;
	width:150px;
	line-height: 44px;
	text-align:center;
	text-decoration:none;
}
.content ul a:hover,.content ul a:active
{
	background-color:#1be4b3;
	color:#ffffff;
}
.directory{
	margin-top: 40px;
	margin-bottom: 200px;
}
.directory p{
	font-family: "微软雅黑";
	font-size:18px;
	color: #d7d7d7;
	line-height: 70px;
}

.directory span{
	font-family: "微软雅黑";
	font-size:14px;
	color: #545454;
}


.directory  a:link,.directory  a:visited{
	font-family: "微软雅黑";
	font-size:18px;
	color: #545454;
	text-decoration:none;
}
.directory  a:hover
{
	text-decoration:none;
	color:#1be4b3;
} 