a{
	color:#FFFFFF;
	text-decoration:none;
}
a:hover{
	color:#24D3E8;
	text-decoration:none;
}

.catalog a{
	color:black;
}
.catalog a:hover{
	color:#24D3E8;
}
.content-title li a:hover{
	color:#24D3E8;
}
 .article hr{
	margin-bottom: 25px;
}
.article{
	overflow: hidden;
}
.content-title .hide{
	display: none;
}
.content-title a{color: black;}
.article-content{
	width: 512px;
	border: none;
}
.content-title li,.content-title ul{
	display: block;
	margin:20px 0;
}
.child li{
	font-size: 14px;
	margin:0 0 0 30px;
	line-height: 1.8em;
}
.content-title{
	font-size: 16px;
	width: 100%;
}
.content-title img{
	cursor: pointer;
}
.right{
	margin-left: 30px;
}
.last-study li:first-child{
	margin:30px 0 15px 0;	
}
.last-study li span{
	position: relative;
	top:-3px;
	font-size: 16px;
}
.last-study{
	display: block;
	margin-bottom: 30px;
}
.last-study li{
	display: block;
	margin-left: 25px;
	margin: 6px 0 6px 25px;
}
.right p{
	margin-bottom: 20px;
}
.right p span{
	position: relative;
	font-size: 16px;
	top:-3px;
	margin-left: 8px;
}
.right .number{
	position: relative;
	top:0px;
	color: #1be4b3;
	margin: 0 6px;
}
.menu .active{
	background-color: #1be4b3;
}