.article hr{
	margin-bottom: 30px;
}
.select,.content-block ul,.content-block li{
	display: block;
}
.select li{
	font-size: 16px;
	padding: 12px 40px;
	margin-bottom: 15px;
	float:left;
}
.select li:last-child{
	position: relative;
	left: -4px;
}
.select a{
	color: black;
}
.content-block{
	width: 100%;
}
.content-block ul{
	margin:30px 0 -2px 50px;
}
.content-block li{
	margin-top: 20px;
}
.content-block .true{
	color:#1be4b3; 
}
.content-block .false{
	color: #ff9376;
}
.content-block{
	font-size: 20px;
	
}
.content-block ul li:first-child{
	font-size: 16px;
}
.content-block li li{
	font-size: 14px;
}
.content-block .red{
	margin-left: 25px;
}
.content-block a{
	position: relative;
	top:-40px;
	padding: 5px 10px;
	color: black;
	background-color: #fff;
	border:1px solid #1be4b3;
	border-radius: 5px;
	font-size: 14px; 
}
.content-block .last{
	background-color: #eee;
	border:1px solid #eee;
}
.catalog a{
	color:black;
}
.catalog a:hover{
	color:#1EB4B3;
}
.select li:hover{
	background-color:#FF7143;
}