.article hr{
	margin-bottom: 40px;
}
.content-block{
	border: 1px solid #b9b9b9;
	margin: 10px 0;
	padding: 8px;
}
.content-block div{
	display: inline-block;
	margin-left: 20px;
	position: relative;
	top: -40px;
}
.select a{
	color: black;
}
.select li{
	display: inline-block;
	font-size: 16px;
	padding: 12px 40px;
	background-color: #d8d8d8;
	margin-bottom: 15px;
}

.select li:last-child{
	background-color:#ebebeb ;
}
.select li:hover{
	background-color: #d8d8d8;
}
.content-block p:first-child{
	
	font-size: 18px;
	margin: 15px 0 20px 0;
}
.content-block span{
	margin-right: 40px;
}
.content-block a{
	color: black;
	margin-right: 10px;
	float: right;
	padding: 8px 20px;
	border:1px solid #999;
	background-color: #fff;
	border-radius: 5px 5px;
	position: relative;
	top: 80px;
}
.content-block a:hover{
	background-color: #1be4b3;
	border-color: #1be4b3;
}
