ol{
	list-style: decimal;
}
.nav li a{
	color:#FFFFFF;
}
.nav li a:hover{
	color:#24D3E8;
}
.menu li:hover{
	background-color:#1BE4B3;
}
.title li{
	display: inline-block;
	margin-top:30px;
}
.answer li{
	margin: 15px 33px 4px 0;
	display: inline-block;
	font-size: 12px;
}
.last-title li{
	display: block;
}
.answer input{
	margin-right: 15px;
	position: relative;
	top:3px;
}
.button input{
	width: 74px;
	height: 32px;
	border: none;
	border-radius: 6px;
	color: #fff;
	margin-top: 60px;
}
[type="submit"]{
	margin-right: 8px;
	background-color: #1be4b3;
}
a{
	color:black;
	text-decoration:none;
}
a:hover{
     color:#24D3E8;
     text-decoration:none;
}
.menu .active{
	background-color: #1be4b3;
}